<div>
  <ul class="list-group">
    <li class="list-group-item">Materia: {{ curso.materia }}</li>
    <li class="list-group-item">Curso: {{ curso.codigo }}</li>
    <!--<li><u>**mostrar lista alumnos</u></li>-->
    <li class="list-group-item">Estado: {{ curso.estadoString }}  </li>
    <li class="list-group-item">
      <select (change)="onSelectChange($event.target.value)" class="form-control">
        <option value="0">Pendiente</option>
        <option value="1">Activo</option>
        <option value="2">Inactivo</option>
      </select>
    </li>
  </ul>
</div>
