<h5>Cursos</h5>
<div *ngIf="alumno" class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let curso of cursos;">{{ curso.id + ' - ' + curso.titulo }}</li>
  </ul>
</div>



<!-- Form con B4, tal vez para ingresar a un detalle por los botones -->
<!-- <div *ngIf="alumno">
  <form action="#">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control" placeholder="" class="form-control-sm">
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text" name="apellido" id="apellido" class="form-control" placeholder="" class="form-control-sm">
    </div>
    <div class="form-group">
      <label for="fechaNacimiento">Fecha de Nacimiento</label>
      <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control" placeholder="" class="form-control-sm">
    </div>
    <div class="form-group">
      <label for="tipoDocumento">Tipo de Documento</label>
      <input type="select" name="tipoDocumento" id="tipoDocumento" class="form-control" placeholder="" class="form-control-sm">
    </div>
    <div class="form-group">
      <label for="documento">Documento</label>
      <input type="text" name="documento" id="documento" class="form-control" placeholder="" class="form-control-sm">
    </div>
    <div class="form-group">
      <label for="comunidad">¿Comunidad UTN?
        <input type="checkbox" name="comunidad" id="comunidad" class="form-control" placeholder="" class="form-control-sm">
      </label>
    </div>
    <div class="form-group">
      <label for="legajo">Legajo</label>
      <input type="text" name="legajo" id="legajo" class="form-control" placeholder="" class="form-control-sm">
    </div>
    <div class="form-group">
      <label for="cursos">Cursos</label>
      <input type="text" name="cursos" id="cursos" class="form-control" placeholder="" class="form-control-sm">
    </div>
  </form>
</div> -->